@model  NeoSoftTest.Models.tblNeoData
   
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.CountryList !=null)
{
    @Html.DropDownListFor(model=>model.CountryId, ViewBag.CountryList as SelectList,"Select Country",new { @class="form-control"})
}
@Html.DropDownListFor(model => model.StateId, new SelectList(""), "", new { @class = "form-control" })
@Html.DropDownListFor(model => model.CityId, new SelectList(""), "", new { @class = "form-control" })




<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        $("#CountryId").change(function () {
            var countryId = $(this).val();
            debugger

            $.ajax({
                type: "post",
                url: "/Home/GetStateList?CountryId=" + countryId,
                contentType: "html",
                success: function (response) {

                    $("#StateId").empty();
                    $("#StateId").append(response);

                }


            })

        })

        $("#StateId").change(function () {
            var stateId = $(this).val();
            debugger

            $.ajax({
                type: "post",
                url: "/Home/GetCityList?StateId=" + stateId,
                contentType: "html",
                success: function (response) {

                    $("#CityId").empty();
                    $("#CityId").append(response);

                }

            })

        })

    });
</script>