@model NeoSoftTest.Models.tblCity

<option value="">Select City</option>

@if (ViewBag.CityList != null)
{
    foreach (var item in ViewBag.CityList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}