@model NeoSoftTest.Models.tblCountry



<option value="">Select Country</option>
@if (ViewBag.CountryList != null)
{
    foreach (var item in ViewBag.CountryList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}


